body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-div{
  height: 100vh;
  width: 100wh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center !important;
  background-color: #ffffff;
}

.main-div h1{
  text-align: center;
}

.main-div h2{
  font-size: 18px;
  text-align: center;
  width: 400px;
}

.box-div{
  height: 700px;
  width: 1190px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3dced7;
}

.box-div a{
  color: #FF6600;
  text-decoration: none;
}

.box-div a:hover{
  text-decoration: dashed;
}

label{
  padding: 5px;
  display: block !important;
}

.btn-large{
  font-size: 28px !important;
  background-color: #FF6600 !important;
  border: transparent !important;
  width: 225px;
  height: 75px;
}

.btn-custom{
  font-size: 20px !important;
  background-color: #FF6600 !important;
  border: transparent !important;
}

#bem-vindo{
  font-size: 64px;
}